# === .NET artifacts ===
**/bin/
**/obj/
**/*.user
**/*.suo
*.pdb
*.cache
*.log

# === Rider ===
.idea/
*.DotSettings
*.DotSettings.user

# === OS ===
.DS_Store
Thumbs.db

resources/

# === Environment and secrets ===
.env
*.env.local
.env.*

# === Docker ===
*.pid
*.tar
docker-compose.override.yml
.dockerignore

# === Other ===
*.vs
.vscode/
